<p>Welcome to Rock, Paper, Scissors!</p>

<p>There are two variants to play! Original RPS and Rock, Paper, Scissors, Lizard, Spock.</p>

<p>In original RPS: Rock crushes Scissors cuts Paper wraps Rock.</p>

<p>In RPSLS: Rock crushes Scissors cuts Paper disproves Spock breaks Scissors slices Lizard eats Paper wraps Rock crushes Lizard poisins Spock smashes Rock. </p>

<p>To play against the computer, append to the url /rules/throw where rules is the variant you want to play (rps or rpsls) and throw is your throw!</p>

<p>For example, to play rock in original RPS, go to /rps/rock. </p>
